page-otp {
    .buttonSection{
        margin-top: 10%;
        text-align: center;
    }

    .text-input-md {
        text-align: center;
        letter-spacing: 30px;
        padding: 0 19%;
        font-size: xxx-large;        
    }

    .otplabels{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        letter-spacing: 0.02em;
    }
    
    .clicklink{
        color: aqua;
        text-decoration: underline;
    }
     
    .clicklink:hover{
        color: greenyellow;
    }

    .changeSide{
        float: left;
        overflow: hidden;
    }
}