page-home {
    .redbutton{
        margin-top: 12.5px;
        position: inherit;
        width: 59px;
        height: 59px;
        left: 20px;
        top: 449px;
        background: #DA1B1B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: bold;
        font-size: 23px;
        line-height: 27px;        
    }
    .purplebutton{
        float: right;
        position: inherit;
        width: 74px;
        height: 74px;
        left: 254px;
        top: 440px;
        background: #3F0DCE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: bold;
        font-size: 23px;
        line-height: 27px;
    }
    .quelabel{
        font-weight: bold;
        font-size: 18px;
        float: right;
        text-align: right;
        margin-bottom: 5%;
    }
    .numberset{
        padding-top: 10px;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
    }

    .scroll-content {
        margin-bottom: 0px !important;
    }
    
    .btngetin{
        border-radius: 10px;
        width: 75%;
        margin-left: 10%;
        font-size: larger;
        background-color: green;
    }
}