<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <section style="font-weight:500; padding-top: 16px;">
    <table style="width: -webkit-fill-available; text-align: center;">
      <tr>        
        <td><input class="roundlabel" readonly value="{{exchangeData.insideCustomerCount}}"></td>
        <td><input class="roundlabel" readonly value="{{this.exchangeData.maxCustomers-exchangeData.insideCustomerCount}}"></td>
      </tr>
      <tr>
        <td style=" padding-top: 3%;"><label style="font-size:16px;">Current Occupants</label></td>
        <td style=" padding-top: 3%;"><label style="font-size:16px;">Available Occupants</label></td>
      </tr>
    </table>
  </section>

  <!-- <section>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
  </section>   -->

  <section>
    <table style="margin-top: 5%; width: -webkit-fill-available; text-align: center;">
      <!-- <tr>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      </tr> -->
      <tr>
        <td><label class="quelabel">Current Que Numbers</label></td>
      </tr>
      <tr>
        <td>
          <ion-scroll scrollY="true" style="height: 170px;">
            <label class="numberset">
              <span *ngFor="let cstmrDetails of exchangeData.customerList">
                <span ion-button class="btngetin" *ngIf="cstmrDetails.status =='pending'" (click)="countGetIn(cstmrDetails)">
                  {{cstmrDetails.id}}
                </span>
              </span>
              <span *ngFor="let dmy of this.dummyOccupents">
                <span #empty ion-button class="btngetin"></span>
              </span>              
            </label>
          </ion-scroll>
        </td>
      </tr>
      <tr>
        <td style="text-align: -webkit-center;">
          <div class = "clockouter">
            <circle-progress
              [percent]="setPresentage"
              [title]="percent+' Sec'"
              (click)="holdClock()">
            </circle-progress>
          </div>
        </td>
      </tr>
    </table>
  </section>

    <ion-fab left bottom>
      <button ion-fab class="custom-actionbutton" style="left: 20px;" (click)="goOut()">Out</button>      
    </ion-fab>
    <ion-fab right bottom>
      <button ion-fab class="custom-actionbutton" style="right: 20px;" (click)="skipCustomer()">Next</button>  
    </ion-fab>
    

    <div>     
      <label *ngFor="let x of messages">
        <h2>{{x}}</h2>
      </label>
    </div>

    <!-- <div style="margin-top: 100px;" ion-button (click)= "getNextTestNumber()"> Add Customers</div> -->
    <!--<div ion-button (click)= "exchangeData.resetTable()"> Reset Table</div>-->
    <!-- <div ion-button (click)= "test()">test</div> -->
</ion-content>