page-settings {
    
    .loginlables{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        letter-spacing: 0.02em;
    }
    .button-md{
        background-color: unset;;
    }
    .select-md .select-icon .select-icon-inner {
        color: #FFFFFF;
    }
}
