page-settings {
    .button-md{
        background-color: unset;;
    }
    .signuplabels{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        letter-spacing: 0.02em;
    }
    .select-md .select-icon .select-icon-inner {
        color: #FFFFFF;
    }
    .select-md .select-icon {
        width: 12% !important;
    }
    .error-message {
        margin-left: 8%;
        color: red;
    }
}
