.mainbody{
    background-color: #5e6ae0;
    font-family: Roboto;
    color: #FFFFFF;
}
ion-input{
    input::placeholder {
    color:rgb(185, 195, 252)!important;
    }
}
.inputboxdecoration{
    position: unset;        
    background-color: #6A77ED;
    border-radius: 8px;
}

.inputtext{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    letter-spacing: 0.02em;
    background-color: #6A77ED;
    color: #FFFFFF;
}

.submitbutton{
    width: 50%;
    height: 56px;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
}

.subbody{
    background-color: #E9E9FD;
    font-family: Roboto;
    // color: #E9E9FD;;
}

// ion-menu[side=left] > .menu-inner {
    // background: #0E0AD7;
// }

.custommenubutton{
    color: #FFFFFF;
    background-color: rgb(35, 39, 83);
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}

.custommenubutton:hover{
    background-color: #6A77ED;
}

.submitbutton:hover{
    background: #642EFF;
}

.backBtnLable{
    color: #fff;
    font-size: x-large;
    vertical-align: -webkit-baseline-middle;
}

.queText{
    text-decoration: underline double;
    font-size: x-large;
}

// .list-md {
//     margin: 1px solid;
// }

.toolbar-md-navbar .toolbar-background-md {
    background: rgb(9, 18, 132);
}

.btngetin{
    border-radius: 15px;
    width: 150px;
    height: 30px;
    font-size: larger;
    background-color: #5e6ae0;
    margin: 2px 20% 2px 20%;
}

.numberset{
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.list-md .item-block .item-inner {
    border-bottom: unset;
}