<ion-content padding class="mainbody">
  <form [formGroup]="signup" (ngSubmit)="submitSellerDetails()">

    <div style="margin-top: 50px;">
      <ion-list>
        <ion-label class="signuplabels">Select your Business Category</ion-label>
        <ion-item class="inputboxdecoration">
          <ion-label class="signuplabels" style="color: #6A77ED">Category</ion-label>
          <ion-select  class="inputtext" style="min-width: -webkit-fill-available;" [(ngModel)]="signup.category" formControlName="category">
            <ion-option value="Pharmacy">Pharmacy</ion-option>
            <ion-option value="Stores">Stores</ion-option>
            <ion-option value="Shop">Shop</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <div style="margin-top: 30px;">
      <ion-label class="signuplabels">Shop Name</ion-label>
      <ion-item class="inputboxdecoration">
        <ion-input class="inputtext" placeholder="Enter your shop name here" type="text" [(ngModel)]="signup.shopName" formControlName="shopName"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.shopName">
          <div class="error-message" *ngIf="signup.get('shopName').hasError(validation.type) && (signup.get('shopName').dirty || signup.get('shopName').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>  
    </div>

    <div style="margin-top: 30px;">
      <ion-label class="signuplabels">City</ion-label>
      <ion-item class="inputboxdecoration">
        <ion-input class="inputtext" placeholder="Enter your nearest city" type="text" [(ngModel)]="signup.city" formControlName="city"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.city">
          <div class="error-message" *ngIf="signup.get('city').hasError(validation.type) && (signup.get('city').dirty || signup.get('city').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>  
    </div>
  
    <div style="margin-top: 30px;">
      <ion-list>
        <ion-label class="signuplabels">Language</ion-label>
        <ion-item class="inputboxdecoration">   
          <ion-label class="signuplabels" style="color: #6A77ED">Language</ion-label>     
          <ion-select class="inputtext" style="min-width: -webkit-fill-available;" [(ngModel)]="signup.language" formControlName="language">
            <ion-option value="English">English</ion-option>
            <ion-option value="Sinhala">Sinhala</ion-option>
            <ion-option value="Tamil">Tamil</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  
    <div style="margin-top: 30px;">
      <ion-label class="signuplabels">Enter Your Mobile Number</ion-label>
      <ion-item class="inputboxdecoration">        
        <ion-input class="inputtext" type="tel" maxlength="10" minlength="10" placeholder="07X XX XX XXX" [(ngModel)]="signup.mobile" formControlName="mobile"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.mobile">
          <div class="error-message" *ngIf="signup.get('mobile').hasError(validation.type) && (signup.get('mobile').dirty || signup.get('mobile').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>  
    </div>
  
    <div style="margin-top: 50px; text-align: center;">
      <button type="submit" [disabled]="!signup.valid" class="submitbutton" style="width: -webkit-fill-available;" ion-button round outline >Sign Up</button>
    </div>

  </form>
</ion-content>

